pandas
numpy
openpyxl
python-dotenv
db-dtypes
jupyter
notebook
ipykernel
seaborn
matplotlib
ipywidgets
scikit-learn
scipy
xgboost
joblib
streamlit
pydantic
fastapi
uvicorn[standard]
python-multipart
pytest
pytest-cov
httpx
